<% include partials/header.ejs %>
    <% include partials/menu.ejs %>
        <% include partials/modal.ejs %>

            <div class="container">
                <div class="page">
                    <div class="blocInputTweet-shorten">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="thumnail">
                                    <img class="picHome-medium" src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/AAIA_wDGAAAAAQAAAAAAAAp0AAAAJGFlNWJkMzFhLWQ2ZWYtNGQ4Yy1iOWU5LTZkZjNkYWI3OTM0NA.jpg"
                                    />
                                </div>
                            </div>
                            <div class="col-md-11">
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="shortTweetbox" placeholder="Quoi de neuf ?" />
                                        <span class="includePhotoTweet-shorten">
                                            <i class="far fa-image fa-lg"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="blocInputTweet">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="thumnail">
                                    <img class="picHome-medium" src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/AAIA_wDGAAAAAQAAAAAAAAp0AAAAJGFlNWJkMzFhLWQ2ZWYtNGQ4Yy1iOWU5LTZkZjNkYWI3OTM0NA.jpg"
                                    />
                                </div>
                            </div>
                            <div class="col-md-11">
                                <form class="formTwitter">
                                    <div class="form-group">
                                        <textarea class="twitterTextarea form-control" rows="3" maxlength="280" placeholder=" Quoi de neuf ?"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-md-1"></div>
                            <div class="col-md-11">
                                <span class="includePhotoTweet">
                                    <i class="far fa-image fa-lg"></i>
                                </span>
                                <button type="button" class="tweet btn btn-tweet right" href="#">Tweeter</button>
                            </div>
                        </div>
                    </div>
                    <div class="blocTweets">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class='list-group messages'>
                                    <li class="list-group-item justify-content-between">
                                        <div class="row">
                                            <div class="p-2 thumbnail col-md-1 insertImage">
                                                <!-- Image -->
                                            </div>
                                            <div class="blocRight col-md-11">
                                                <div class="p-2 insertTitle">
                                                    <!-- Title -->
                                                </div>
                                                <div class="p-2 insertTweet">
                                                    <!-- Tweet -->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="list-group">
                                    <li class="list-group-item justify-content-between">
                                        <div class="row">
                                            <div class="p-2 thumbnail col-md-1">
                                                <img class="img-fluid picHome" src='https://media-exp2.licdn.com/media-proxy/ext?w=800&h=800&hash=4ThhLqKC9HWxXlTmAgZ1An2F31Q%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6rhRoOww4ysOCGpFu48UVSVofOAW__H3D0vsvTPyr2PNjccbqio1gZOyEFkAQkOeKs'
                                                    alt='photo' />
                                            </div>
                                            <div class="blocRight col-md-11">
                                                <div class="p-2">
                                                    <h2>
                                                        Farid Safi
                                                    </h2>
                                                </div>
                                                <div class="p-2">
                                                    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition
                                                        et la mise en page avant impression. Le Lorem Ipsum est le faux texte
                                                        des applications de mise en page de texte, comme Aldus PageMaker.</p>
                                                    <a href="#">un peintre anonyme assembla ensemble des morceaux de texte pour réaliser
                                                        utenu n'en
                                                    </a>
                                                </div>
                                                <div class="">
                                                    <i class="far fa-heart fa-lg"></i>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item justify-content-between">
                                        <div class="row">
                                            <div class="p-2 thumbnail col-md-1">
                                                <img class="img-fluid picHome" src='https://pbs.twimg.com/profile_images/856528381592170496/MwzqeO1j_400x400.jpg' alt='photo'
                                                />
                                            </div>
                                            <div class="blocRight col-md-11">
                                                <div class="p-2">
                                                    <h2>
                                                        Le Reacteur
                                                    </h2>
                                                </div>
                                                <div class="p-2">
                                                    <p>Le Lorem Ipsum est simplement du faux texte employé dans la compositio
                                                        des applications de mise en page de texte, comme Aldus PageMaker.</p>
                                                    <a href="#">un peintre anonyme assembla ensemble des morceaux de texte pour réaliser
                                                        un livre spécimen de polices de texte. Il n'a pas fait que survivre
                                                    </a>
                                                </div>
                                                <div class="card">
                                                    <img class="card-img-top" src="https://pbs.twimg.com/media/DVqzsPrW4AAlB-G.jpg" alt="Card image cap">
                                                    <div class="card-body">
                                                        <h5 class="card-title">CReact Native Authentication in Depth</h5>
                                                        <p class="card-text">
                                                            Implementing real world production tested multi factor authentication in a React Native application
                                                        </p>
                                                        <a href="#" class="">medium.com</a>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <i class="far fa-heart fa-lg"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/socket.io/socket.io.js"></script>
            <script>
                $(document).ready(function () {

                    $(".blocInputTweet").hide();
                    var socket = io.connect('http://localhost:3000');
                    $('button.tweet').click(function () {
                        console.log("clicked");
                        var name = 'Xavier';
                        var message = $("textarea.twitterTextarea").val();
                        socket.emit('send_message', {
                            message: message
                        });

                    });
                    socket.on('new_message', function (data) {
                        var image =
                            "<img class='img-fluid picHome' src='https://media-exp2.licdn.com/mpr/mpr/shrinknp_200_200/AAIA_wDGAAAAAQAAAAAAAAp0AAAAJGFlNWJkMzFhLWQ2ZWYtNGQ4Yy1iOWU5LTZkZjNkYWI3OTM0NA.jpg'alt='photo' />";
                        var title = " <h2>Xavier Colombel </h2>";
                        var tweetText = "<p>" + data.message + "<a href='#'></a></p>";
                        var likes = "<div class='heart'><i class='far fa-heart fa-lg'></i></div>";

                        $('.insertImage').append(image);
                        $('.insertTitle').append(title);
                        $('.insertTweet').append(tweetText, likes);

                    });

                    $("#shortTweetbox").click(function () {
                        $(".blocInputTweet-shorten").hide();
                        $(".blocInputTweet").show();
                    });


                });
            </script>
            <% include partials/footer.ejs %>