body{
    background-color:#E6ECF0;
}
.menuTwitter{
    background-color: white;
}
.nav-item .active{
    border-bottom: 2px solid #5558C8;
    background-color: red;
}
.page{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}
.btn-tweet{
    background-color: #7679D3;
    border-radius: 20px;
    color: white;
}
.btn-tweet a{
   text-decoration: none;
    color: white;
}
.fa-twitter{
    color: #1BA1F2;
}
.fa-home{
    color : #5558C8;
}
.accueil{
    color : #5558C8;
    font-size: 14px;
    padding-left : 15px;
}
.picHome{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.fa-heart{
    color: grey;
}
.blocInputTweet{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #EEEDF9;
}
.blocTweets{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color:white;
    }